.secrest, .carson {
  font-size: 60px;
  line-height: 1.2;
  position: relative;
}

.secrest {
  transform: translate(79px, 85px);
}

.carson {
  transform: translate(-4px, 65px);
}

.text-div {
  color: #403E3A;
}

@keyframes slideLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-99px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}

.secrest-cover {
  transform: translateY(20px);
}

.carson-cover {
  transform: translateY(20px);
}

@keyframes slideDown {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}