@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  max-height: 100vh;
  overscroll-behavior-y: none;
}

* {
  margin: 0;
  padding: 0;
}